<!--src/app/app.component.html-->
<div class="option-box">
  <input type="checkbox" id="seo" [(ngModel)]="seo" (change)="calculateBudget()"> 
  <label for="seo">Hacer una campaña SEO (300€)</label>
</div>

<div class="option-box">
  <input type="checkbox" id="ads" [(ngModel)]="ads" (change)="calculateBudget()"> 
  <label for="ads">Hacer una campaña de publicidad (400€)</label>
</div>

<div class="option-box">
  <input type="checkbox" id="web" [(ngModel)]="web" (change)="updateWebOption()"> 
  <label for="web">Hacer una página web (500€)</label>

  <div *ngIf="showPanel" class="web-option-container">
    <div>
      <label>Número de páginas:</label>
      <span class="info-icon" (click)="openModal('Añade las páginas que tendrá tu proyecto. El coste de cada página es de 30€.')">[i]</span>
      <button (click)="changePages(-1)" [disabled]="numberOfPages <= 1">-</button>
      {{ numberOfPages }}
      <button (click)="changePages(1)">+</button>
    </div>
    <div>
      <label>Número de idiomas:</label>
      <span class="info-icon" (click)="openModal('Añade los lenguajes que tendrá tu proyecto. El coste de cada idioma es de 30€.')">[i]</span>
      <button (click)="changeLanguages(-1)" [disabled]="numberOfLanguages <= 1">-</button>
      {{ numberOfLanguages }}
      <button (click)="changeLanguages(1)">+</button>
    </div>
  </div>
</div>

<div class="total-budget">
  Presupuesto Total: {{ totalBudget }}€
</div>

<!-- Componente modal para mostrar información -->
<app-info-modal [content]="modalContent" [show]="showModal" (close)="closeModal()"></app-info-modal>


<!--Formulario para que los usuarios puedan meter sus datos-->
<div class="option-box">
  <h3>Pedir presupuesto</h3>
  <input type="text" [(ngModel)]="customerName" placeholder="Nombre del cliente/a">
  <input type="text" [(ngModel)]="customerPhone" placeholder="Teléfono">
  <input type="email" [(ngModel)]="customerEmail" placeholder="Email">
  <button (click)="requestBudget()">Solicitar presupuesto</button>
</div>

<app-budgets-list [budgets]="getBudgets()"></app-budgets-list>
