/* app.component.scss*/
/* stilos generales para los cuadros de opciones */
.option-box {
  width: 936px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}
  
/* Estilo para el contenedor de la opción de página web que incluye los inputs */
.web-option-container {
  margin-top: 20px; /* Espaciado superior para separarlo de la opción de página web */
}

/* Estilos para los botones e inputs */
button, input[type="number"] {
  margin: 0 5px; /* Espaciado alrededor de los botones e inputs */
}

/* Estilo para el texto del presupuesto total */
.total-budget {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 5px;
}
  