<!--src/app/app.component.html-->
<div class="option-box p-5 m-5 bg-white rounded-3 mx-auto">
  <h1 class="text-center fw-bold">Aconsegueix la millor qualitat</h1>
</div>

  <!-- SEO Option Box -->
  <div class="option-box p-5 mb-4 bg-white rounded-3 mx-auto" [ngClass]="{'border-danger': serviceError && !seo, 'border-azul': seo}">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="h4 fw-bold">Seo</span><br>
        <span>Fer una campanya SEO</span>
      </div>
      <div class="col-md-4 text-center">
        <span class="h4 fw-bold price-number">300</span><span class="text-small">€</span>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <div class="form-check form-switch d-flex align-items-center">
          <input class="form-check-input" type="checkbox" id="seo" [(ngModel)]="seo" (change)="calculateBudget()">
          <label class="form-check-label ms-2" for="seo">Afegir</label>
        </div>
      </div>
    </div>
  </div>

  <!-- Ads Option Box -->
  <div class="option-box p-5 mb-4 bg-white rounded-3 mx-auto" [ngClass]="{'border-danger': serviceError && !ads, 'border-azul': ads}">
    <div class="row align-items-center">
      <div class="col-6 col-md-4">
        <span class="h4 fw-bold">Ads</span><br>
        <span>Fer una campanya de publicitat</span>
      </div>
      <div class="col-3 col-md-4 text-center">
        <span class="h4 fw-bold price-number">400</span><span class="text-small">€</span>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <div class="form-check form-switch d-flex align-items-center">
          <input class="form-check-input" type="checkbox" id="ads" [(ngModel)]="ads" (change)="calculateBudget()">
          <label class="form-check-label ms-2" for="ads">Afegir</label>
        </div>
      </div>
    </div>
  </div>

  <!-- Web Option Box -->
  <div class="option-box p-5 mb-4 bg-white rounded-3 mx-auto" [ngClass]="{'border-danger': serviceError && !web, 'border-azul': web}">
    <div class="row align-items-center">
      <div class="col-6 col-md-4">
        <span class="h4 fw-bold">Web</span><br>
        <span>Programació d'una web responsive completa</span>
      </div>
      <div class="col-3 col-md-4 text-center">
        <span class="h4 fw-bold price-number">500</span><span>€</span>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <div class="form-check form-switch d-flex align-items-center">
          <input class="form-check-input" type="checkbox" id="web" [(ngModel)]="web" (change)="updateWebOption()">
          <label class="form-check-label ms-2" for="web">Afegir</label>
        </div>
      </div>
    </div>


  <div *ngIf="showPanel" class="web-option-container mt-3">
    <div class="d-flex align-items-center mb-2 justify-content-end">
      <!-- Botón de información para "Nombre de pàgines:" -->
      <button class="btn btn-warning btn-sm p-0 me-2" type="button" (click)="openModal('Afegeix les pàgines que tindrà el teu projecte.<br>El cost de cada pàgina és de 30€.')">
        <i class="bi bi-info-circle-fill"></i>
      </button>
      <span class="fw-bold me-3">Nombre de pàgines:</span>
      <!-- Botón "-" sin borde -->
      <button class="btn btn-link p-0 me-1" type="button" (click)="changePages(-1)" [disabled]="numberOfPages <= 1">
        <i class="bi bi-dash-circle-fill icon-blue"></i>
      </button>
      <input type="text" class="form-control form-control-sm mx-1" style="width: 60px;" [ngModel]="numberOfPages" readonly>
      <!-- Botón "+" sin borde -->
      <button class="btn btn-link p-0" type="button" (click)="changePages(1)">
        <i class="bi bi-plus-circle-fill icon-blue"></i>
      </button>
    </div>
    <div class="d-flex align-items-center justify-content-end">
      <!-- Botón de información para "Nombre de llenguatges:" -->
      <button class="btn btn-warning btn-sm p-0 me-2" type="button" (click)="openModal('Afegeix els idiomes que tindrà el teu projecte.<br>El cost de cada idioma és de 30€.')">
        <i class="bi bi-info-circle-fill"></i>
      </button>
      <span class="fw-bold me-3">Nombre de llenguatges:</span>
      <!-- Botón "-" sin borde -->
      <button class="btn btn-link p-0 me-1" type="button" (click)="changeLanguages(-1)" [disabled]="numberOfLanguages <= 1">
        <i class="bi bi-dash-circle-fill icon-blue"></i>
      </button>
      <input type="text" class="form-control form-control-sm mx-1" style="width: 60px;" [ngModel]="numberOfLanguages" readonly>
      <!-- Botón "+" sin borde -->
      <button class="btn btn-link p-0" type="button" (click)="changeLanguages(1)">
        <i class="bi bi-plus-circle-fill icon-blue"></i>
      </button>
    </div>
  </div>
</div>

<div class="total-budget text-end pe-3 pb-4 fw-bold">
  Preu pressuposat: <span class="fw-bold fs-2">{{ totalBudget }}</span>€
</div>

<!-- Componente modal para mostrar información -->
<app-info-modal [content]="modalContent" [show]="showModal" (close)="closeModal()"></app-info-modal>

<!-- Formulario para que los usuarios puedan meter sus datos -->
<div class="option-box p-5 mb-4 bg-white rounded-3 mx-auto">
  <h3 class="fw-bold">Demanar pressupost</h3>
  <div class="d-flex flex-wrap gap-2">
<!-- Nombre -->
<div class="flex-grow-1">
  <input type="text" [(ngModel)]="customerName" placeholder="Nom del client/a" class="form-control border-gray rounded" (input)="validateName()">
  <div *ngIf="validationAttempted.name && nameError" class="text-danger">{{nameError}}</div>
  <div *ngIf="validationAttempted.name && isNameValid" class="text-success">✓</div>
</div>

<!-- Teléfono -->
<div class="flex-grow-1">
  <input type="text" [(ngModel)]="customerPhone" placeholder="Telèfon" class="form-control border-gray rounded" (input)="validatePhone()">
  <div *ngIf="validationAttempted.phone && phoneError" class="text-danger">{{phoneError}}</div>
  <div *ngIf="validationAttempted.phone && isPhoneValid" class="text-success">✓</div>
</div>

<!-- Email -->
<div class="flex-grow-1">
  <input type="email" [(ngModel)]="customerEmail" placeholder="Email" class="form-control border-gray rounded" (input)="validateEmail()">
  <div *ngIf="validationAttempted.email && emailError" class="text-danger">{{emailError}}</div>
  <div *ngIf="validationAttempted.email && isEmailValid" class="text-success">✓</div>
</div>
        
    <!-- Contenedor para el Botón y Mensaje de Error -->
    <div class="d-flex flex-column flex-grow-1">
      <button class="btn btn-primary" (click)="requestBudget()">Sol·licitar pressupost</button>
      <!-- Mensaje de error justo debajo del botón -->
      <div *ngIf="validationAttempted.service && serviceError" class="text-danger">{{serviceErrorMessage}}</div>
    </div>
  </div>
</div>

<!-- Botones para ordenar y campo de búsqueda -->
<div class="option-box-container mx-auto" style="width: 936px;">
  <hr class="my-4"/> <!-- Línea divisoria -->
  <h2 class="fw-bold mb-3">Pressupostos en curs:</h2>

  <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Ajustes para el buscador con símbolo de lupa -->
    <div class="input-group" style="width: auto;">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input type="text" class="form-control" placeholder="Buscar per nom" [(ngModel)]="filterText">
    </div>

    <!-- Ajustes para los botones sin fondo y con flechas dinámicas -->
    <div>
      <button class="btn btn-link text-decoration-none" (click)="sortBudgets('date')">Data <i class="bi" [class]="currentSort.field === 'date' ? (currentSort.direction === 'asc' ? 'bi-caret-up-fill' : 'bi-caret-down-fill') : ''"></i></button>
      <button class="btn btn-link text-decoration-none" (click)="sortBudgets('total')">Import <i class="bi" [class]="currentSort.field === 'total' ? (currentSort.direction === 'asc' ? 'bi-caret-up-fill' : 'bi-caret-down-fill') : ''"></i></button>
      <button class="btn btn-link text-decoration-none" (click)="sortBudgets('name')">Nom <i class="bi" [class]="currentSort.field === 'name' ? (currentSort.direction === 'asc' ? 'bi-caret-up-fill' : 'bi-caret-down-fill') : ''"></i></button>
    </div>
  </div>
</div>

<!-- Listado de presupuestos -->
<app-budgets-list [budgets]="getFilteredBudgets()" (shareUrl)="handleShareUrl($event)"></app-budgets-list>

<!-- Componente modal para mostrar la URL -->
<app-info-modal [content]="modalContent" [show]="showModal" (close)="closeModal()"></app-info-modal>
