// src/styles.scss
@import 'bootstrap/scss/bootstrap';

.header {
  text-align: center;
  margin-bottom: 20px;
}

.options div, .total {
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.options input[type="checkbox"] {
  margin-right: 10px;
}

.total-budget {
  width: 936px;
  margin: 0 auto; 
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1050; /* Asegúrate de que sea más alto que otros elementos */
}

.mi-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1051; /* Debe ser más alto que .modal-background */
}

.input-fixed-width {
  width: 185px;
}

.border-gray {
  border-color: #6c757d !important; // Cambia el color del borde a gris oscuro
}

.no-budgets {
  width: 936px;
  margin: auto;
  padding: 20px;
  text-align: left;
}

// Ajustes para los botones sin fondo
.btn-link {
  color: #000; // Cambia el color según tu diseño
  padding: 0;
  margin-right: 15px; // Asegura un espacio entre botones

  &:hover {
    color: #0056b3; // Cambia el color para el estado hover
    text-decoration: underline;
  }
  
  .bi {
    margin-left: 5px; // Espacio entre el texto y la flecha
  }
}

.icon-blue {
  color: #007bff;
}

.is-invalid {
  &:checked {
    background-color: #dc3545; // Cambia el color de fondo para un switch inválido
    border-color: #dc3545;
  }
}

/* Asegúrate de que el feedback inválido se muestra correctamente */
.invalid-feedback {
  display: block;
}

/* Ajusta los estilos del botón y el mensaje de error para que estén correctamente alineados */
.btn-primary {
  margin-right: 0.5rem; /* Asegura un margen a la derecha del botón */
}

.text-danger {
  margin-left: 0.5rem; /* Asegura un margen a la izquierda del mensaje de error */
}

